extends ../layout/main.pug

mixin accordionItemContent(title,themes)
    .accordion__title
        .accordion__description #{title}
            i(class="fa fa-shopping-cart")
    ul.accordion__themes
        each thm in themes
            li.accordion__theme
                a(href="#" onClick="event.preventDefault()").accordion__theme-title #{thm}

block content
    section.section
        .container
            .logo
                img(src="assets/img/logo.png").logo__icon
            .accordion
                ul.accordion__list
                    -
                     var akkodionItemsArr = [
                         {
                             title: "Основы языка и как на нем говорить правильно",
                             themes: ["Лексическая структура", "Типы данных, значения и переменные", "Выражения и операторы инструкции"]
                         },
                         {
                             title: "Функции",
                             themes: ["Именованные функции", "Анонимные функции", "Стрелочные функции", "Области видимости функции"]
                         },
                         {
                             title: "Обработка ошибок и отладка",
                             themes: ["Инструкция throw", "Объект Error", "Конструкция try…catch…finally", "Промисы", "Debugger", "Тестирование кода"]
                         },
                         {
                             title: "Объекты и массивы",
                             themes: ["Объявление объектов и массивов", "Многомерные массивы", "Методы pop/push, shift/unshift", "Методы массивов", 
                                      "Перечисление всех свойств объекта", "Клонирование и копирование", "Метод Object.assign", "Определение геттеров и сеттеров"]
                         },
                         {
                             title: "События",
                             themes: ["Введение в браузерные события", "Обработчики событий", "Доступ к элементу через this, объект события", "Метод add/removeEventListener"]
                         }
                     ]
                    each item, index in akkodionItemsArr
                        if (index === 0)
                            li(data-index=`${index}`).accordion__item.is_active
                                +accordionItemContent(item.title, item.themes)
                        else
                            li(data-index=`${index}`).accordion__item
                                +accordionItemContent(item.title, item.themes)
                                



